* {
	box-sizing: border-box;
	color: #e3e0e0;
	font-size: large;
	text-align: center;
}
.topnav {
	text-align: center;
}
body {
	/* background-color: #4c6e92; */
	background: linear-gradient(110deg, #4c6e92 60%, #5e5151 60%);
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
/* Center website */
.main {
	max-width: 1000px;
	margin: auto;
}

h2 {
	text-align: center;
	color: #e3e0e0;
	font-size: larger;
}

.row {
	margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
	padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 33%;
	text-align: center;
}

/* Clear floats after rows */
.row:after {
	content: '';
	display: table;
	clear: both;
}

/* Project */
.project {
	background-color: #3e2d2d;
	border-radius: 25px;
	padding: 10px;
	color: #3e2d2d;
}

.project:hover {
	opacity: 0.7;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
	.project {
		width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.project {
		width: 100%;
	}
}

a {
	color: #e3e0e0;
	font-size: 40px;
	text-decoration: none;
	padding: 2px 1px 0;
	text-align: center;
}

/* this is for social media to be aligned */
.contacts {
	text-align: center;
	float: left;
	width: 20%;
	text-align: center;
}

/* Style all font awesome icons */
.fa {
	padding: 20px;
	text-align: right;
	border-radius: 50%;
	color: #e3e0e0;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}

/* CSS HEX
--lapis-lazuli: #2f6690ff;
--steel-blue: #3a7ca5ff;
--timberwolf: #d9dcd6ff;
--indigo-dye: #16425bff;
--dark-sky-blue: #81c3d7ff;

/* CSS HSL */
/* --lapis-lazuli: hsla(206, 51%, 37%, 1);
--steel-blue: hsla(203, 48%, 44%, 1);
--timberwolf: hsla(90, 8%, 85%, 1);
--indigo-dye: hsla(202, 61%, 22%, 1);
--dark-sky-blue: hsla(194, 52%, 67%, 1); */

/* SCSS HEX */
/* $lapis-lazuli: #2f6690ff;
$steel-blue: #3a7ca5ff;
$timberwolf: #d9dcd6ff;
$indigo-dye: #16425bff;
$dark-sky-blue: #81c3d7ff; */

/* SCSS HSL */
/* $lapis-lazuli: hsla(206, 51%, 37%, 1);
$steel-blue: hsla(203, 48%, 44%, 1);
$timberwolf: hsla(90, 8%, 85%, 1);
$indigo-dye: hsla(202, 61%, 22%, 1);
$dark-sky-blue: hsla(194, 52%, 67%, 1); */

/* SCSS RGB */
/* $lapis-lazuli: rgba(47, 102, 144, 1);
$steel-blue: rgba(58, 124, 165, 1);
$timberwolf: rgba(217, 220, 214, 1);
$indigo-dye: rgba(22, 66, 91, 1);
$dark-sky-blue: rgba(129, 195, 215, 1); */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-right: linear-gradient(90deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-bottom: linear-gradient(180deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-left: linear-gradient(270deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-top-right: linear-gradient(45deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-bottom-right: linear-gradient(135deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-top-left: linear-gradient(225deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-bottom-left: linear-gradient(315deg, #2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff);
$gradient-radial: radial-gradient(#2f6690ff, #3a7ca5ff, #d9dcd6ff, #16425bff, #81c3d7ff); */
